---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <h2 class="post-title pb-4">About Grex Corvorum</h2>
  <p>I'm a husband, father of two boys, and software engineer working in cloud and edge computing. This is where I write about technologies I use and build in my work and life.</p>
  <p>Many of the topics you'll find here are new to me. That's why I'm writing about them. That said, I'm sure I'll often be wrong. Feel free to let me know.</p>
</LayoutDefault>

